.split-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.quickEditor-panel {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

.editor-panel {
    width: 85%;
    height: 480px;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
}

.preview-panel {
    width: 85%;
    height: 480px;
    border-radius: 8px;
    padding: 15px;

    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;

    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 0 20px;
    flex-shrink: 0;
}

body.dark-mode .preview-panel {
    background-color: #3a3a3a;
    border-color: #555;
}

body.dark-mode .editor-panel {
    background-color: #2a2a2a;
    color: #e9e9e9;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.material-spinner {
    animation: spin 1s linear infinite;
}