.center-div {
    display: grid;
    place-items: center;
    height: 200px;
    gap: 20px;
}

.input-form {
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 10px;
}

.float-timer {
    position: fixed;

    bottom: 20px;
    right: 20px;

    padding: 15px 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    z-index: 1000;
}